{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h2>Employee List</h2>
  <form method="get" id="filter-form" action="{% url 'employee_list' %}">
      <div class="row">
          <div class="col-6">
            <label for="sort_field" class="form-label">Sort by:</label>
            <select class="form-select" name="sort_field" id="sort_field">
              <option value="full_name">Full Name</option>
              <option value="position">Position</option>
              <option value="email">Email</option>
              <option value="hire_date">Hire date</option>
            </select>
          </div>
          <div class="col-6">
              <label for="sort_field" class="form-label">Search by:</label>
              <input type="text" class="form-control" name="search_query" id="search_query" placeholder="Search:">
          </div>
          <div class="row-6 my-4">
              <button type="submit" class="w-100 btn btn-primary btn-lg">Process</button>
          </div>
      </div>
  </form>

  <table id="employee-table">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Position</th>
        <th>Email</th>
        <th>Hire Date</th>
        <th>Supervisor</th>
      </tr>
    </thead>
    <tbody>
      {% include 'employees/employee_list_ajax.html' %}
    </tbody>
  </table>
  <script src="{% static 'js/emp_list_filtering.js' %}"></script>
{% endblock %}
